<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd

           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd"
       default-autowire="byName" default-lazy-init="true">

    <!-- 支持 @Transactional 标记,注意默认抛出 RuntimeException 和 UnsupportedOperationException 才会事物回滚 -->
    <!-- 其他的需要用 @Transactional(propagation = Propagation.REQUIRED,rollbackFor=Exception.class) 来指定 -->
    <tx:annotation-driven transaction-manager="transactionManager" proxy-target-class="true"/>
    <tx:annotation-driven transaction-manager="transactionManagerLogin" proxy-target-class="true"/>
    <tx:annotation-driven transaction-manager="transactionManagerManage" proxy-target-class="true"/>

    <!-- Transaction manager for a single JDBC DataSource -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"/>
    </bean>
    <bean id="transactionManagerLogin" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSourceLogin"/>
    </bean>
    <bean id="transactionManagerManage" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSourceManage"/>
    </bean>

    <!-- mybatis 配置文件 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="configLocation" value="classpath:mybatis-config.xml"/>
        <property name="mapperLocations" value="classpath:/com/pkuvr/game_server/dao/*.xml"/>
    </bean>

    <bean id="sqlSessionFactoryLogin" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSourceLogin"/>
        <property name="configLocation" value="classpath:mybatisLogin-config.xml"/>
        <property name="mapperLocations" value="classpath:/com/pkuvr/login_server/dao/*.xml"/>
    </bean>
    <bean id="sqlSessionFactoryManage" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSourceManage"/>
        <property name="configLocation" value="classpath:mybatisManage-config.xml"/>
        <property name="mapperLocations" value="classpath:/com/pkuvr/manage_server/dao/*.xml"/>
    </bean>

    <!-- 配置jdbc数据源 -->
    <bean id="dataSource" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
        <property name="driverClass" value="#{jdbcConfig['jdbc.driverClass']}"/>
        <property name="jdbcUrl" value="#{jdbcConfig['jdbc.url']}"/>
        <property name="username" value="#{jdbcConfig['jdbc.user']}"/>
        <property name="password" value="#{jdbcConfig['jdbc.password']}"/>
        <property name="idleConnectionTestPeriodInMinutes" value="#{jdbcConfig['jdbc.idleConnectionTestPeriod']}"/>
        <property name="idleMaxAgeInMinutes" value="#{jdbcConfig['jdbc.idleMaxAge']}"/>
        <property name="maxConnectionsPerPartition" value="#{jdbcConfig['jdbc.maxConnectionsPerPartition']}"/>
        <property name="minConnectionsPerPartition" value="#{jdbcConfig['jdbc.minConnectionsPerPartition']}"/>
        <property name="partitionCount" value="#{jdbcConfig['jdbc.partitionCount']}"/>
        <property name="acquireIncrement" value="#{jdbcConfig['jdbc.acquireIncrement']}"/>
        <property name="statementsCacheSize" value="#{jdbcConfig['jdbc.statementsCacheSize']}"/>
        <property name="releaseHelperThreads" value="#{jdbcConfig['jdbc.releaseHelperThreads']}"/>
        <property name="connectionTestStatement" value="#{jdbcConfig['jdbc.connectionTestStatement']}"/>
    </bean>

    <bean id="dataSourceLogin" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
        <property name="driverClass" value="#{jdbcConfig['jdbcLogin.driverClass']}"/>
        <property name="jdbcUrl" value="#{jdbcConfig['jdbcLogin.url']}"/>
        <property name="username" value="#{jdbcConfig['jdbcLogin.user']}"/>
        <property name="password" value="#{jdbcConfig['jdbcLogin.password']}"/>
        <property name="idleConnectionTestPeriodInMinutes" value="#{jdbcConfig['jdbcLogin.idleConnectionTestPeriod']}"/>
        <property name="idleMaxAgeInMinutes" value="#{jdbcConfig['jdbcLogin.idleMaxAge']}"/>
        <property name="maxConnectionsPerPartition" value="#{jdbcConfig['jdbcLogin.maxConnectionsPerPartition']}"/>
        <property name="minConnectionsPerPartition" value="#{jdbcConfig['jdbcLogin.minConnectionsPerPartition']}"/>
        <property name="partitionCount" value="#{jdbcConfig['jdbcLogin.partitionCount']}"/>
        <property name="acquireIncrement" value="#{jdbcConfig['jdbcLogin.acquireIncrement']}"/>
        <property name="statementsCacheSize" value="#{jdbcConfig['jdbcLogin.statementsCacheSize']}"/>
        <property name="releaseHelperThreads" value="#{jdbcConfig['jdbcLogin.releaseHelperThreads']}"/>
        <property name="connectionTestStatement" value="#{jdbcConfig['jdbcLogin.connectionTestStatement']}"/>
    </bean>

    <bean id="dataSourceManage" class="com.jolbox.bonecp.BoneCPDataSource" destroy-method="close">
        <property name="driverClass" value="#{jdbcConfig['jdbcManage.driverClass']}"/>
        <property name="jdbcUrl" value="#{jdbcConfig['jdbcManage.url']}"/>
        <property name="username" value="#{jdbcConfig['jdbcManage.user']}"/>
        <property name="password" value="#{jdbcConfig['jdbcManage.password']}"/>
        <property name="idleConnectionTestPeriodInMinutes"
                  value="#{jdbcConfig['jdbcManage.idleConnectionTestPeriod']}"/>
        <property name="idleMaxAgeInMinutes" value="#{jdbcConfig['jdbcManage.idleMaxAge']}"/>
        <property name="maxConnectionsPerPartition" value="#{jdbcConfig['jdbcManage.maxConnectionsPerPartition']}"/>
        <property name="minConnectionsPerPartition" value="#{jdbcConfig['jdbcManage.minConnectionsPerPartition']}"/>
        <property name="partitionCount" value="#{jdbcConfig['jdbcManage.partitionCount']}"/>
        <property name="acquireIncrement" value="#{jdbcConfig['jdbcManage.acquireIncrement']}"/>
        <property name="statementsCacheSize" value="#{jdbcConfig['jdbcManage.statementsCacheSize']}"/>
        <property name="releaseHelperThreads" value="#{jdbcConfig['jdbcManage.releaseHelperThreads']}"/>
        <property name="connectionTestStatement" value="#{jdbcConfig['jdbcManage.connectionTestStatement']}"/>
    </bean>
</beans>
