<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
				http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd"
       default-autowire="byName" default-lazy-init="true">

    <!-- 缓存BEAN,在类里加上 @Component("copyToTaskCacheManager") 的声明  -->
    <context:component-scan base-package="com.pkuvr.game_server.cache"/>

    <!-- jcs缓存配置。 -->
    <bean id="defaultCache" class="com.pkuvr.game_server.cache.JCSCache">
        <constructor-arg index="0" value="default"/>
    </bean>

    <bean id="playerRoleCache" class="com.pkuvr.game_server.cache.JCSCache">
        <constructor-arg index="0" value="playerRoleCache"/>
    </bean>

    <!--
    <bean id="playerBufferCache" class="com.pkuvr.game_server.cache.JCSCache">
        <constructor-arg index="0" value="playerBufferCache"/>
    </bean>

    <bean id="playerRealtimePvpCache" class="com.pkuvr.game_server.cache.JCSCache">
        <constructor-arg index="0" value="playerRealtimePvpCache"/>
    </bean>

    <bean id="playerMineAttackedCache" class="com.pkuvr.game_server.cache.JCSCache">
        <constructor-arg index="0" value="playerMineAttackedCache"/>
    </bean>

    <bean id="playerMineInstanceAttackedCache" class="com.pkuvr.game_server.cache.JCSCache">
        <constructor-arg index="0" value="playerMineInstanceAttackedCache"/>
    </bean>

    <bean id="ownPlayerMineAttackedCache" class="com.pkuvr.game_server.cache.JCSCache">
        <constructor-arg index="0" value="ownPlayerMineAttackedCache"/>
    </bean>

    <bean id="playerZoneAttackedCache" class="com.pkuvr.game_server.cache.JCSCache">
        <constructor-arg index="0" value="playerZoneAttackedCache"/>
    </bean>-->
</beans>